<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dummy Payment Gateway</title>
</head>
<body>
<h1>Dummy Payment Gateway</h1>

<h2>Process Payment</h2>
<form th:action="@{/processPayment}" th:object="${payment}" method="post">
    Card Number: <input type="text" th:field="*{cardNumber}"><br>
    Card Holder: <input type="text" th:field="*{cardHolder}"><br>
    Amount: <input type="text" th:field="*{amount}"><br>
    <button type="submit">Submit Payment</button>
</form>

</body>
</html>
